.App {
  text-align: center;
}

.addtodo {
  background-color: rosybrown;
  border: 1px solid blanchedalmond;
  padding: 15px;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 48px;
}

.addtodo input {
  width: 50%;
  height: 20px;
}

.todolist {
  padding: 20px;
  overflow: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.todolist .todoitem {
  border: 1px solid black;
  margin: 10px;
  display: flex;
}

.todolist .todoitem .content-area {
  background-color: yellowgreen;
  padding: 10px;

  flex-basis: 90%;
}

.todolist .todoitem .cross-mark {
 color: red;
 cursor: pointer;
 height: 38px;
 display: flex;
 flex-basis: 10%;
}

.todolist .todoitem .cross-mark p {
  margin: auto;
}

.filter {
  display: flex;
  background-color: chocolate;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 48px;
}

.filter p {
  flex-basis: 30%;
}