.App {
  text-align: center;
}

.addtodo {
  background-color: rosybrown;
  border: 1px solid blanchedalmond;
  padding: 15px;
}

.addtodo input {
  width: 50%;
  height: 20px;
}


.todolist {
  background-color: tomato;
  border: 1px solid blanchedalmond;
  padding: 15px;
}

.todolist .todoitem {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
}

.todolist .todoitem .cross-mark {
 color: red;
 display: inline;
 float: right;
 cursor: pointer;
}

.filter {
  display: flex;
  background-color: chocolate;
  justify-content: space-between;
}

.filter p {
  flex-basis: 30%;
}